html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background: rgb(3, 27, 29);
}

.btnAbrirPopup{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  rgb(3, 3, 29);
    display: block;
    background:  rgb(178, 178, 241);
    padding: 20px 50px;
    border-radius: 50px;
}

.container-all{
    width: 50%;
    height: 50%;
    position: fixed;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;

}

.container-all:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.container-all:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;

}
.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: white;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(150%, 230%);
    transition: all 600ms;

}

.img{
    width: 30%;
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container-text{
    width: 70%;
    padding: 50px;
    overflow-y: auto;
}

.btnCerrarPopup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}

h1{
    font-size: 50px;
    color: blue;
    font-style: italic;
}
p{
    color: rgb(156, 156, 241);
    font-style: italic;
    font-size: 20px;

}
h3{
    padding: 20px;
    margin-bottom: 20px;
    height: 40px;

}
button{
    color: rgb(117, 117, 172)
}

textarea{
    background-color: rgba(138, 188, 233, 0.76);
    border-block-start-color: beige;
    border-block-start-style: hidden;
}
input{
    font-style: italic;
    color: #8b94e7;

}
.overlay{
    background-color: rgba(130, 130, 228, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}
.popup{
    background-color: #8b94e7;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
}
.text{
    background-color: #8b94e7;
}

@media screen and (max-width:900px){
    .popup{
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }
    .img{
        width: 100%;
        height: 40%;
    }
    .container-text{
        width: 100%;
        height: 60%;
        padding: 80px;
    }
    .container-text h3{
        font-size: 20px;
    }
}
/**/